<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu carro</title>
    <link rel="stylesheet" href="styleI.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="p-5 mb-4 bg-light rounded-3 jumbotron mb-5 pb-5">
        <div class="container-fluid">
            <h1 class="display-1 fw-bold text-center">MEU CARRO</h1>
            <p class="fs-4 text-center"><i>Sistema para Agendamento de Troca de Óleo.</i></p>
            <h1 class="text-center mt-5"><i class="bi bi-arrow-down-circle-fill "></i></h1>
        </div>
    </div>
    <div class="container d-md-flex mb-5 mt-2 pt-4">
        <div class="texto w-md-50 mt-md-3">
            <h1>FAÇA LOGIN COM O FACEBOOK <i class="bi bi-facebook"></i></h1>
            <p>Com a autenticação pelo Facebook seus dados ficam protegidos, pois
                é utilizado das altas tecnologias de segurança do próprio Facebook. <br><br>
                Experimente agora mesmo!
            </p>
            <a href="/login"><button class="btn btn-primary">Fazer Login</button></a>
        </div>
        <div class="imagem w-md-50 mt-3 mt-md-0">
            <img class="img-fluid" src="banner.jpg" alt="" srcset="">
        </div>
    </div>
    <h1 class="text-center mt-5 pt-5">ACOMPANHE E CADASTRE SEU VEÍCULO UTILIZANDO API'S</h1>
    <div class="container d-md-flex mt-3">
        <div class="imagem w-md-75 ">
            <img class="img-fluid marg" src="search.png" alt="" srcset="">
        </div>
        <div class="texto w-md-25">
            <p class="px-3 mt-md-5">Utilizando api's o Meu Carro além de um Sistema de Agendamento é também um portal
                onde pode ser visto informações dos veiculos
                e também ficar por dentro das ultimas notícias no ramo automotivo.</p>
            <div class="cartoes d-flex w-md-100 px-3 text-center justify-content-around">
                <div class="card" style="max-width: 50%;">
                    <div class="card-body p-1"><i class="bi bi-car-front-fill" style="font-size: 20pt"></i><br>
                        ÚLTIMAS NOTÍCIAS
                    </div>
                </div>
                <div class="card" style="max-width: 50%;">
                    <div class="card-body p-1"><i class="bi bi-card-list" style="font-size: 20pt"></i><br>
                        INFORMAÇÕES DO SEU VEÍCULO
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpp">
        <div class="container d-md-flex mt-5 p-3 p-md-5">
            <div class="texto w-md-50">
                <h1 class="px-md-3">RECEBA NOTIFICAÇÕES PELO <br> WHATSAPP <i class="bi bi-whatsapp"></i></h1>
                <p class="px-md-3">De maneira com que a comunição seja facilitada entre a empresa e o cliente, o Meu
                    Carro
                    <br>conta com um sistema de avisos/lembretes/notificações pelo WhatsApp. (Ex. Status da troca, <br>
                    confirmação de agendamento, lembrete para trocas vencidas...).<br>
                    **Função que pode ser habilitada dentro do sistema na configuração de sua conta.
                </p>
            </div>
        </div>
    </div>
    <div class="container d-md-flex mt-5">
        <div class="imagem w-md-50">
            <img class="img-fluid" src="thumb-referral.png" alt="" srcset="">
        </div>
        <div class="texto w-md-50">
            <h1 class=" pt-5 mt-4 text-center">PROGRAMA DE FIDELIDADES</h1>
            <p class="text-center">Para os clientes o sistema conta com um Programa de Fidelidade onde é possível ganhar
                cupons promocionais e utilizar de acordo com a empresa disponibilizar.
            </p>
            <div class="cartoes d-flex w-md-100 px-3 text-center justify-content-center">
                <div class="card" style="max-width: 50%;">
                    <div class="card-body p-1"><i class="bi bi-gift-fill" style="font-size: 20pt"></i><br>
                        GERADOR DE CUPONS
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="titulo">
        <h1 class="text-center mt-5 p-2">REALIZE AGENDAMENTOS DE MANEIRA SIMPLES E RÁPIDA</h1>
        <div class="container d-md-flex mt-3 justify-content-center ">

            <div class="texto w-md-50">
                <p class="px-3 mt-md-5 pt-md-5 ">Com todos os campos essenciais para orientar no momento do
                    serviço.<br><br>
                    - Acompanhe em tempo real. <br>
                    - Fotos para verificar as peças trocadas.<br>
                    - Histórico completo de todas as trocas.</p>
                <div class="cartoes d-flex w-md-100 px-3 text-center justify-content-center">
                    <div class="card" style="max-width: 50%;">
                        <div class="card-body p-1"><i class="bi bi-ui-checks" style="font-size: 20pt"></i><br>
                            AGENDAMENTO ESPECÍFICO
                        </div>
                    </div>
                </div>
            </div>
            <div class="imagem w-md-50 ">
                <img class="img-fluid ml-md-5" src="agenda.png" alt="" srcset="">
            </div>
        </div>
    </div>
    </div>
    <div class="container d-md-flex mt-3">
        <div class="imagem w-md-75">
            <img class="img-fluid" src="admin.png" alt="" style="height: -webkit-fill-available;"
                srcset="">
        </div>
        <div class="texto w-md-25 iadmin">
            <h1 class="px-3">PAINEL DE ADMIN</h1>
            <p class="px-3">Sistema conta com um painel completo de administradores, onde o mesmo tem controle total ao
                sistema.<br><br>
                - Acompanhe estatísticas. <br>
                - Conclua agendamentos.<br>
                - Envie mensagens.</br>
                - Cadastre clientes e agendamentos.</p>

        </div>
    </div>
    </div>
    <footer class="mt-5 p-5 text-center">
        <a href="http://www.instagram.com/douglaseduar" target="_blank" rel="noopener noreferrer"> Douglas</a><br>
        <h6>© 2022 Todos os direitos reservados.</h6>
    </footer>
</body>

</html>