<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="shortcut icon" href="carro.png" type="image/x-icon">
</head>

<body>
  <div class="container-sm login">
    <div class="card">
      <div class="card-body">
        <div class="logo"><img src="LOGO.png" alt="" srcset="" width="200px">
        </div>
        <div class="container" style="text-align-last: center;">
          <a href="/auth/facebook" class="btn btn-primary btn-social "><i class="bi bi-facebook"></i>
            <i class="fa"></i> Login com o Facebook
          </a>
        </div>
        <div class="termo"><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Termo de Uso</a> </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Política de Privacidade</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            A sua privacidade &eacute; importante para n&oacute;s. &Eacute; pol&iacute;tica do Meu carro respeitar a sua
            privacidade em rela&ccedil;&atilde;o a qualquer informa&ccedil;&atilde;o sua que possamos coletar no site <a
              href="meucarro.com">Meu carro</a>, e outros sites que possu&iacute;mos e operamos.</p>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            Solicitamos informa&ccedil;&otilde;es pessoais apenas quando realmente precisamos delas para lhe fornecer um
            servi&ccedil;o. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Tamb&eacute;m
            informamos por que estamos coletando e como ser&aacute; usado.</p>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            Apenas retemos as informa&ccedil;&otilde;es coletadas pelo tempo necess&aacute;rio para fornecer o
            servi&ccedil;o solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente
            aceit&aacute;veis ​​para evitar perdas e roubos, bem como acesso, divulga&ccedil;&atilde;o, c&oacute;pia,
            uso ou modifica&ccedil;&atilde;o n&atilde;o autorizados.</p>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            N&atilde;o compartilhamos informa&ccedil;&otilde;es de identifica&ccedil;&atilde;o pessoal publicamente ou
            com terceiros, exceto quando exigido por lei.</p>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            O nosso site pode ter links para sites externos que n&atilde;o s&atilde;o operados por n&oacute;s. Esteja
            ciente de que n&atilde;o temos controle sobre o conte&uacute;do e pr&aacute;ticas desses sites e n&atilde;o
            podemos aceitar responsabilidade por suas respectivas&nbsp;<a
              style="box-sizing: border-box; color: #055af9; text-decoration-line: none; background-color: transparent;"
              href="https://politicaprivacidade.com/" target="_BLANK">pol&iacute;ticas de privacidade</a>.</p>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            Voc&ecirc; &eacute; livre para recusar a nossa solicita&ccedil;&atilde;o de informa&ccedil;&otilde;es
            pessoais, entendendo que talvez n&atilde;o possamos fornecer alguns dos servi&ccedil;os desejados.</p>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            O uso continuado de nosso site ser&aacute; considerado como aceita&ccedil;&atilde;o de nossas
            pr&aacute;ticas em torno de <a href='https://avisodeprivacidad.info/' rel='nofollow' target='_BLANK'
              style='color:inherit !important; text-decoration: none !important; font-size: inherit !important;'>Aviso
              de Privacidad</a> e informa&ccedil;&otilde;es pessoais. Se voc&ecirc; tiver alguma d&uacute;vida sobre
            como lidamos com dados do usu&aacute;rio e informa&ccedil;&otilde;es pessoais, entre em contacto connosco.
          </p>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            <h2
              style="box-sizing: border-box; margin: 0px; line-height: 1.2; font-size: 20px; letter-spacing: -0.05em; color: #576d96; padding-bottom: 20px; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Pol&iacute;tica de Cookies Meu carro</h2>
            <h3
              style="box-sizing: border-box; margin: 0px 0px 20px; line-height: 1.2; font-size: 16px; letter-spacing: -0.05em; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              O que s&atilde;o cookies?</h3>
            <p
              style="font-size: 16px; box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Como &eacute; pr&aacute;tica comum em quase todos os sites profissionais, este site usa cookies, que
              s&atilde;o pequenos arquivos baixados no seu computador, para melhorar sua experi&ecirc;ncia. Esta
              p&aacute;gina descreve quais informa&ccedil;&otilde;es eles coletam, como as usamos e por que &agrave;s
              vezes precisamos armazenar esses cookies. Tamb&eacute;m compartilharemos como voc&ecirc; pode impedir que
              esses cookies sejam armazenados, no entanto, isso pode fazer o downgrade ou 'quebrar' certos elementos da
              funcionalidade do site.</p>
            <h3
              style="box-sizing: border-box; margin: 0px 0px 20px; line-height: 1.2; font-size: 16px; letter-spacing: -0.05em; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Como usamos os cookies?</h3>
            <p
              style="font-size: 16px; box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Utilizamos cookies por v&aacute;rios motivos, detalhados abaixo. Infelizmente, na maioria dos casos,
              n&atilde;o existem op&ccedil;&otilde;es padr&atilde;o do setor para desativar os cookies sem desativar
              completamente a funcionalidade e os recursos que eles adicionam a este site. &Eacute; recomend&aacute;vel
              que voc&ecirc; deixe todos os cookies se n&atilde;o tiver certeza se precisa ou n&atilde;o deles, caso
              sejam usados ​​para fornecer um servi&ccedil;o que voc&ecirc; usa.</p>
            <h3
              style="box-sizing: border-box; margin: 0px 0px 20px; line-height: 1.2; font-size: 16px; letter-spacing: -0.05em; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Desativar cookies</h3>
            <p
              style="font-size: 16px; box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Voc&ecirc; pode impedir a configura&ccedil;&atilde;o de cookies ajustando as configura&ccedil;&otilde;es
              do seu navegador (consulte a Ajuda do navegador para saber como fazer isso). Esteja ciente de que a
              desativa&ccedil;&atilde;o de cookies afetar&aacute; a funcionalidade deste e de muitos outros sites que
              voc&ecirc; visita. A desativa&ccedil;&atilde;o de cookies geralmente resultar&aacute; na
              desativa&ccedil;&atilde;o de determinadas funcionalidades e recursos deste site. Portanto, &eacute;
              recomend&aacute;vel que voc&ecirc; n&atilde;o desative os cookies.</p>
            <h3
              style="box-sizing: border-box; margin: 0px 0px 20px; line-height: 1.2; font-size: 16px; letter-spacing: -0.05em; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Cookies que definimos</h3>
            <ul
              style="font-size: 16px; box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              <li style="box-sizing: border-box;">Cookies relacionados &agrave; conta<br
                  style="box-sizing: border-box;" /><br style="box-sizing: border-box;" />Se voc&ecirc; criar uma conta
                connosco, usaremos cookies para o gerenciamento do processo de inscri&ccedil;&atilde;o e
                administra&ccedil;&atilde;o geral. Esses cookies geralmente ser&atilde;o exclu&iacute;dos quando
                voc&ecirc; sair do sistema, por&eacute;m, em alguns casos, eles poder&atilde;o permanecer posteriormente
                para lembrar as prefer&ecirc;ncias do seu site ao sair.<br style="box-sizing: border-box;" /><br
                  style="box-sizing: border-box;" /></li>
              <li style="box-sizing: border-box;">Cookies relacionados ao login<br style="box-sizing: border-box;" /><br
                  style="box-sizing: border-box;" />Utilizamos cookies quando voc&ecirc; est&aacute; logado, para que
                possamos lembrar dessa a&ccedil;&atilde;o. Isso evita que voc&ecirc; precise fazer login sempre que
                visitar uma nova p&aacute;gina. Esses cookies s&atilde;o normalmente removidos ou limpos quando
                voc&ecirc; efetua logout para garantir que voc&ecirc; possa acessar apenas a recursos e &aacute;reas
                restritas ao efetuar login.<br style="box-sizing: border-box;" /><br style="box-sizing: border-box;" />
              </li>
              <li style="box-sizing: border-box;">Cookies relacionados a boletins por e-mail<br
                  style="box-sizing: border-box;" /><br style="box-sizing: border-box;" />Este site oferece
                servi&ccedil;os de assinatura de boletim informativo ou e-mail e os cookies podem ser usados ​​para
                lembrar se voc&ecirc; j&aacute; est&aacute; registrado e se deve mostrar determinadas
                notifica&ccedil;&otilde;es v&aacute;lidas apenas para usu&aacute;rios inscritos / n&atilde;o
                inscritos.<br style="box-sizing: border-box;" /><br style="box-sizing: border-box;" /></li>
              <li style="box-sizing: border-box;">Pedidos processando cookies relacionados<br
                  style="box-sizing: border-box;" /><br style="box-sizing: border-box;" />Este site oferece facilidades
                de com&eacute;rcio eletr&ocirc;nico ou pagamento e alguns cookies s&atilde;o essenciais para garantir
                que seu pedido seja lembrado entre as p&aacute;ginas, para que possamos process&aacute;-lo
                adequadamente.<br style="box-sizing: border-box;" /><br style="box-sizing: border-box;" /></li>
              <li style="box-sizing: border-box;">Cookies relacionados a pesquisas<br
                  style="box-sizing: border-box;" /><br style="box-sizing: border-box;" />Periodicamente, oferecemos
                pesquisas e question&aacute;rios para fornecer informa&ccedil;&otilde;es interessantes, ferramentas
                &uacute;teis ou para entender nossa base de usu&aacute;rios com mais precis&atilde;o. Essas pesquisas
                podem usar cookies para lembrar quem j&aacute; participou numa pesquisa ou para fornecer resultados
                precisos ap&oacute;s a altera&ccedil;&atilde;o das p&aacute;ginas.<br
                  style="box-sizing: border-box;" /><br style="box-sizing: border-box;" /></li>
              <li style="box-sizing: border-box;">Cookies relacionados a formul&aacute;rios<br
                  style="box-sizing: border-box;" /><br style="box-sizing: border-box;" />Quando voc&ecirc; envia dados
                por meio de um formul&aacute;rio como os encontrados nas p&aacute;ginas de contacto ou nos
                formul&aacute;rios de coment&aacute;rios, os cookies podem ser configurados para lembrar os detalhes do
                usu&aacute;rio para correspond&ecirc;ncia futura.<br style="box-sizing: border-box;" /><br
                  style="box-sizing: border-box;" /></li>
              <li style="box-sizing: border-box;">Cookies de prefer&ecirc;ncias do site<br
                  style="box-sizing: border-box;" /><br style="box-sizing: border-box;" />Para proporcionar uma
                &oacute;tima experi&ecirc;ncia neste site, fornecemos a funcionalidade para definir suas
                prefer&ecirc;ncias de como esse site &eacute; executado quando voc&ecirc; o usa. Para lembrar suas
                prefer&ecirc;ncias, precisamos definir cookies para que essas informa&ccedil;&otilde;es possam ser
                chamadas sempre que voc&ecirc; interagir com uma p&aacute;gina for afetada por suas prefer&ecirc;ncias.
              </li>
            </ul>
            <h3
              style="box-sizing: border-box; margin: 0px 0px 20px; line-height: 1.2; font-size: 16px; letter-spacing: -0.05em; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Cookies de Terceiros</h3>
            <p
              style="font-size: 16px; box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Em alguns casos especiais, tamb&eacute;m usamos cookies fornecidos por terceiros confi&aacute;veis. A
              se&ccedil;&atilde;o a seguir detalha quais cookies de terceiros voc&ecirc; pode encontrar atrav&eacute;s
              deste site.</p>
            <ul
              style="font-size: 16px; box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              <li style="box-sizing: border-box;">Este site usa o Google Analytics, que &eacute; uma das
                solu&ccedil;&otilde;es de an&aacute;lise mais difundidas e confi&aacute;veis ​​da Web, para nos ajudar a
                entender como voc&ecirc; usa o site e como podemos melhorar sua experi&ecirc;ncia. Esses cookies podem
                rastrear itens como quanto tempo voc&ecirc; gasta no site e as p&aacute;ginas visitadas, para que
                possamos continuar produzindo conte&uacute;do atraente.</li>
            </ul>
            <p
              style="font-size: 16px; box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              Para mais informa&ccedil;&otilde;es sobre cookies do Google Analytics, consulte a p&aacute;gina oficial do
              Google Analytics.</p>
            <ul
              style="font-size: 16px; box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
              <li style="box-sizing: border-box;">As an&aacute;lises de terceiros s&atilde;o usadas para rastrear e
                medir o uso deste site, para que possamos continuar produzindo conte&uacute;do atrativo. Esses cookies
                podem rastrear itens como o tempo que voc&ecirc; passa no site ou as p&aacute;ginas visitadas, o que nos
                ajuda a entender como podemos melhorar o site para voc&ecirc;.</li>
              <li style="box-sizing: border-box;">Periodicamente, testamos novos recursos e fazemos
                altera&ccedil;&otilde;es subtis na maneira como o site se apresenta. Quando ainda estamos testando novos
                recursos, esses cookies podem ser usados ​​para garantir que voc&ecirc; receba uma experi&ecirc;ncia
                consistente enquanto estiver no site, enquanto entendemos quais otimiza&ccedil;&otilde;es os nossos
                usu&aacute;rios mais apreciam.</li>
              <li style="box-sizing: border-box;">&Agrave; medida que vendemos produtos, &eacute; importante entendermos
                as estat&iacute;sticas sobre quantos visitantes de nosso site realmente compram e, portanto, esse
                &eacute; o tipo de dados que esses cookies rastrear&atilde;o. Isso &eacute; importante para voc&ecirc;,
                pois significa que podemos fazer previs&otilde;es de neg&oacute;cios com precis&atilde;o que nos
                permitem analizar nossos custos de publicidade e produtos para garantir o melhor pre&ccedil;o
                poss&iacute;vel.</li>
            </ul>
            <p></p>
          </p>
          <h3
            style="box-sizing: border-box; margin: 0px 0px 20px; line-height: 1.2; font-size: 16px; letter-spacing: -0.05em; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            Compromisso do Usu&aacute;rio</h3>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            O usu&aacute;rio se compromete a fazer uso adequado dos conte&uacute;dos e da informa&ccedil;&atilde;o que o
            Meu carro oferece no site e com car&aacute;ter enunciativo, mas n&atilde;o limitativo:</p>
          <ul
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #576d96; font-family: Montserrat, sans-serif; font-size: 16px; background-color: #ffffff;">
            <li style="box-sizing: border-box;">A) N&atilde;o se envolver em atividades que sejam ilegais ou
              contr&aacute;rias &agrave; boa f&eacute; a &agrave; ordem p&uacute;blica;</li>
            <li style="box-sizing: border-box;">B) N&atilde;o difundir propaganda ou conte&uacute;do de natureza
              racista, xenof&oacute;bica, <a href='https://ondeapostar.com/betano-e-confiavel' rel='nofollow'
                target='_BLANK'
                style='color:inherit !important; text-decoration: none !important; font-size: inherit !important;'>
                betano</a> ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos
              humanos;</li>
            <li style="box-sizing: border-box;">C) N&atilde;o causar danos aos sistemas f&iacute;sicos (hardwares) e
              l&oacute;gicos (softwares) do Meu carro, de seus fornecedores ou terceiros, para introduzir ou disseminar
              v&iacute;rus inform&aacute;ticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de
              causar danos anteriormente mencionados.</li>
          </ul>
          <h3
            style="box-sizing: border-box; margin: 0px 0px 20px; line-height: 1.2; font-size: 16px; letter-spacing: -0.05em; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            Mais informa&ccedil;&otilde;es</h3>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que voc&ecirc; n&atilde;o
            tem certeza se precisa ou n&atilde;o, geralmente &eacute; mais seguro deixar os cookies ativados, caso
            interaja com um dos recursos que voc&ecirc; usa em nosso site.</p>
          <p
            style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
            Esta pol&iacute;tica &eacute; efetiva a partir de <strong>25 julho 2022 00:59</strong></p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer"><a href="#"><img src="footer.jpg" alt="" srcset="" width="150px"></a></div>
  </footer>

</html>