:root {
	/* Colors */
	--cor-verde: #009045;
	/* --color-black: #000000;
    --color-purple: #1d1148;
    --color-purple-text: #543099;
    --color-dark-grey: #c9c9c9; */

    /* Content
    --content-max-width: 1200px;

    /* Font 
  --font-family: 'Open Sans', sans-serif; */


    /** Breakpoints 
    /*
    /* Tablet: 1000px;
    /* Smartphone: 700px;
    /* Small: 450px;
    /*
    **/
}