.login{
max-width: 500px;
margin-top: 150px;
}
.register{
max-width: 500px;
margin-top: 30px;
}
a{
    color: var(--cor-verde)!important;
}
.select{
    background-color: var(--cor-verde);
    color: white!important;
    border-radius: 30px;
    border: 0px solid transparent
}
footer{
    margin-top: 100px;
}
.footer{
    display: flex;
    justify-content: center;
}
.logo {
    text-align: center;
    margin-bottom: 30px;
}
.check{
    float: right;
}
.form-check-input:checked{
    background-color: var(--cor-verde);
    border-color: var(--cor-verde);
}
.grid {
	display: grid;
}

.grid-template-2 {
	grid-template:
    "sidenav content" 100%
    / 20% 1fr 0px
}

.content {
	grid-area: content;
}

.sidenav {
	grid-area: sidenav;
    background-color: gainsboro;
    color: white;
}

.item {
	text-align: center;
	font-size: 1.5em;
    height: 100vh;
}
.sidenav > img {
    border-radius: 300px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.botoes{
    margin-top: 100px;
    
}
.botoes > a > button{
    width: 100%;
    color: var(--cor-verde);
    margin-top: -6px;
    border-radius: 0px!important;
}
.botoes > a > button:hover{
    background-color: var(--cor-verde);
    color: white;
}
button > a{
    text-decoration: none!important;
    color: white;
}
button > a:hover {
    color: white!important;
}
.loja{
    margin-top: 30px;
}
.logoinit{
    width: 205px;
    margin-top: 64px;
}
.info{
width: 100%;
background-color: ghostwhite;
text-align: end;
padding-right: 30px;
height: 50px;
}
.lista{
    margin-top: 30px;
    padding: 10px;
}
.card-body > .bi-truck{
    font-size: 70pt;
}
.bi-plus-circle{
    font-size: 100pt;
    text-align: center;
    color: gainsboro;
}
.cadastro{
    max-width: 340px;
    margin-top: 150px;
}
.more > div {
font-size: 11pt;
}
.more{
    text-align: left;
    margin-top: 20px;
}
.observacao{
    background-color: gainsboro;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.data{
    text-align: right!important;
}